body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
}

.text {
  font-family: 'Akzidenz-Grotesk Std Medium', sans-serif;
  color: white;
  font-size: 5vw;
  padding: 1rem;
  margin: 0;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5), 0 1px 0 red, 0 2px 0 orange, 0 3px 0 green, 0 4px 0 pink, 0 5px 0 rgba(255, 255, 255, 0.25), 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
